.body--modal footer
  @media(max-width: $sm-media)
    .footer--hide
      display: none
  @media(min-width: $sm-media)
    &:hover
      z-index: 100
      &:before
        border-top: $thin-border solid $grey-color
        opacity: 1

