$multi: 1.5

.body--modal footer
  bottom: -$xs-footer-height * $multi
  @media(min-width: $sm-media)
    bottom: -$sm-footer-height * $multi
  @media(min-width: $md-media)
    position: fixed
    bottom: 0
    &:hover
      z-index: 100
      &:before
        border-top: $thin-border solid $grey-color
        opacity: 1

.body--form
  @media(max-width: $sm-media)
    footer
      display: none!important
    .modal
      height: 100%!important
