ul
  list-style-position: outside
  margin: 0
  padding-left: 0

ul.list--paragraph
  display: block
  @include typography-width
  li
    list-style-type: none

$width: 1200

ul.list-tiles
  width: 100%
  max-width: #{$width}px
  margin-left: auto
  margin-right: auto
  @media(min-width: $md-media)
    flex-direction: row!important

$list-box-padding: .4em
$list-box-margin: .4em

.listItem--box
  display: inline-block
  padding: $list-box-padding
  margin: $list-box-margin $list-box-margin $list-box-margin 0
  font-size: .9em
  border: $thin-border solid $text-color
  border-radius: $regular-border-radius

$knowledge-item-margin-right: 1rem

.list
  &--knowledge
    margin: $sm-spacing 0
    @include typography-width
    li
      margin-left: 0
      margin-right: $knowledge-item-margin-right