$margin-modal: $sm-spacing
$modal-width: $typography-width * 2
$modal-animation-duration: .2s
$margin: .4rem

$xs-height-close-button: $xs-width-button-icon
$sm-height-close-button: $sm-width-button-icon

$xs-margin-close-button: .4rem
$sm-margin-close-button: .4rem

.modal-action
  height: 0
  overflow: hidden
  @media(min-width: $sm-media)
    position: absolute
    top: 0
    height: calc(2 * #{$lg-spacing})
    width: 100%

.modal-padding
  padding: $md-spacing 0
  @media(min-width: $sm-media)
    padding: 0

.modal-padding--top
  @media(min-width: $sm-media)
    padding-top: calc(2 * #{$lg-spacing})

.modal-content
  overflow-y: auto
  height: calc(100% - #{$xs-spacing})

.modal--size
  height: 100%
  width: 100%
  @media(min-width: $md-media)
    height: calc(100vh - 2 * #{$margin-modal})
    max-width: 80%
    width: $modal-width

.modal--position
  position: fixed
  top: 0
  left: -100%
  @media(min-width: $md-media)
    top: -100vh
    @include absolute-center--x

$close-button-height: 24
$close-button-position: 1rem
$close-button-margin: 1rem
.button-icon--description
  &:before
    display: inline-flex
    height: 100%
    align-items: center
    justify-content: flex-end
    content: attr(data-label)
    position: absolute
    right: $md-spacing
    @include absolute-center--y
    width: 100
    font-weight: 400
    text-transform: uppercase
    @media(min-width: $md-media)
      margin-right: $sm-spacing

.modal .button-icon
  position: relative
  right: $md-spacing
  z-index: 30
  @extend .button-icon--description
  &:hover
    color: $highlight-primary-color
    path:nth-of-type(1)
      fill: $highlight-primary-color

$modal-padding-bottom: $md-spacing

.modal--box
  background-color: $background-color
  overflow: hidden
  z-index: 20
  transition: left $modal-animation-duration, top $modal-animation-duration
  .content
    width: 100%
    min-height: auto
    @media(min-width: $sm-media)
      padding-bottom: $modal-padding-bottom
  @media(min-width: $md-media)
    border: $regular-border solid $border-color

.modal
  h2, h3
    display: block
    text-align: left
    @include typography-width
  .content h2, h3
    margin-top: 1em

.story--dots
  h2
    margin-bottom: .5em
    &:nth-child(1):after
      content: '...'
  p:nth-of-type(1)
    &:before
      content: '...'

.modal
  @extend .modal--size
  @extend .modal--position
  @extend .modal--box
  @extend .modal-padding
  @extend .modal-padding--top
  &-story
    @extend .story--dots
  section, div
    outline: 0

div.modal
  &--show
    left: 0
    @media(min-width: $md-media)
      top: $margin-modal
      @include absolute-center--x
