$margin-modal: $sm-spacing
$modal-width: $typography-width * 2
$modal-animation-duration: .2s
$margin: .4rem

$xs-margin-close-button: .4rem
$sm-margin-close-button: .4rem

.modal-action
  position: absolute
  top: 0
  height: calc(2 * #{$lg-spacing})
  width: 100%
  background: transparent

.modal-padding--top
  padding-top: calc(2 * #{$lg-spacing})

.modal-content
  overflow-y: auto
  min-height: 100%
  height: calc(100% - #{$xs-spacing})

.modal--size
  height: 100%
  width: 100%
  @media(min-width: $md-media)
    height: calc(100vh - 2 * #{$margin-modal})
    max-width: 80%
    width: #{$modal-width}px

.modal--position
  position: fixed
  top: 0
  left: -100%
  @media(min-width: $md-media)
    top: -100vh
    @include absolute-center--x

$top: percentage(10.5 / 18 / 2)

.button-icon--description
  margin: 0
  font-size: .8em
  line-height: 1em
  @media(min-width: $md-media)
    font-size: .9em
  &:before
    content: attr(data-label)
    position: absolute
    right: 100%
    margin-right: $xs-spacing
    word-break: initial
    top: 50% - $top
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0

.modal .button-icon
  position: relative
  right: $md-spacing
  z-index: 30
  @extend .button-icon--description
  &:hover
    color: $highlight-primary-color
    path:nth-of-type(1)
      fill: $highlight-primary-color

$modal-padding-bottom: $md-spacing

.modal--box
  background-color: $background-color
  overflow: hidden
  z-index: 20
  transition: left $modal-animation-duration, top $modal-animation-duration
  .content
    width: 100%
    min-height: auto
    padding-bottom: $modal-padding-bottom
  @media(min-width: $md-media)
    border: $regular-border solid $border-color

.modal
  h2, h3
    display: block
    text-align: left
    @include typography-width
  .content h2, h3
    margin-top: 1em

.story--dots
  h2
    margin-bottom: .5em
    &:nth-child(1):after
      content: '...'

.modal
  @extend .modal--size
  @extend .modal--position
  @extend .modal--box
  @extend .modal-padding--top
  &-story
    @extend .story--dots
  section, div
    outline: 0

div.modal
  &--show
    left: 0
    @media(min-width: $md-media)
      top: $margin-modal
      @include absolute-center--x
