.button
  > svg
    width: 100%
    height: auto
  &-navigation
    svg path:nth-of-type(1)
      fill: $highlight-primary-color

header .button-icon svg
  fill: $highlight-primary-color

.socialmedia
  path
    fill: $highlight-icon