.button
  > svg
    width: 100%
    height: auto

header .button-icon svg
  fill: $highlight-primary-color

$xs-socialmedia-width: 100px
$sm-socialmedia-width: 150px
$md-socialmedia-width: 190px

.socialmedia
  max-width: $xs-socialmedia-width
  @media(min-width: $sm-media)
    max-width: $sm-socialmedia-width
  @media(min-width: $md-media)
    max-width: $md-socialmedia-width
  path
    fill: $highlight-icon