$button-letter-spacing: 3px

$xs-font-size: 18px
$sm-font-size: 22px
$md-font-size: 24px

$xs-h1-font-size: 2.5rem
$sm-h1-font-size: 3rem
$md-h1-font-size: 3rem
$lg-h1-font-size: 3rem

@font-face
  font-family: 'HammersmithOne'
  src: url('../fonts/HammersmithOne/hammersmithone-regular-webfont.woff2') format("woff2"), url('../fonts/HammersmithOne/hammersmithone-regular-webfont.woff') format("woff")

@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'), url('../fonts/Lato/lato-regular-webfont.woff') format('woff')

html, .tile h2, .tile h3
  font-size: $xs-font-size
  @media(min-width: $sm-media)
    font-size: $sm-font-size
  @media(min-width: $md-media)
    font-size: $md-font-size

body, h3, input
  font-family: 'Lato', 'Open-Sans', sans-serif
  color: $text-color
  line-height: 1.5em
  font-weight: 500

input
  font-size: 22px
  @media(min-width: $md-media)
    font-size: 20px

h1, h2, h3
  text-align: center
  white-space: pre-wrap

h1
  margin: 0
  font-size: $xs-h1-font-size
  font-family: 'HammersmithOne', 'Open-Sans', sans-serif
  font-weight: 400
  line-height: 1.1em
  letter-spacing: 1px
  text-transform: uppercase
  word-break: break-word
  opacity: 1
  color: $background-color
  @media(min-width: $sm-media)
    font-size: $sm-h1-font-size
    color: $text-color
  @media(min-width: $md-media)
    font-size: $md-h1-font-size
  @media(min-width: $lg-media)
    font-size: $lg-h1-font-size

h2
  margin: 0
  line-height: 1.3em
  font-weight: 800

.tile > h2
  font-family: 'Lato', 'Open-Sans', sans-serif

a
  &:hover
    color: $highlight-primary-color

button
  font-size: 1rem
  letter-spacing: $button-letter-spacing
  font-family: 'HammersmithOne', 'Open-Sans', sans-serif
  font-weight: 600
  text-transform: lowercase

.typography
  @include typography-width
  text-align: left
