$background-color: #fcfcfc
$background-light-color: #ffffff
$text-color: #0f0f0f
// $navigation-background-color: #b8b8b8
$highlight-primary-color: #e36397 // pink
// $highlight-secondary-color: #5bc0eb
$highlight-secondary-color: #3185fc
$highlight-icon: #3185fc // brilliant azure
$hint-color: #1c2541
$error-color: #ff0000
$border-color: $text-color
$box-shadow-color: #8c7aa9
$grey-color: #eaebed
$hover-background-color: $grey-color

// $background-color: #d5dcf9
// $highlight-secondary-color: #77b6ea
// $hint-color: #2d2e2e
// $hover-background-color: #e36397
// $hover-background-color: #fde74c
// $hover-background-color: $hint-color
// $tile-border-color: $hint-color
