$xs-footer-height: 95
$sm-footer-height: 120
$md-footer-height: 120
$lg-footer-height: 120

$input-width: 300

$header-button-width-lg: 80
$header-button-width-sm: 40

$typography-width: 700

$scrollbar-width: $xs-spacing