$navigation-height: 50px

$xs-footer-height: 90px
$sm-footer-height: 120px
$md-footer-height: 120px
$lg-footer-height: 120px

$input-width: 300px

$header-button-width-lg: 100px
$header-button-width-sm: 80px

$typography-width: 700

$scrollbar-width: $xs-spacing